<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
</head>
<body>

    <form action="/perform_keyword_detection" method='post'>
        <label for=""> Type Your Text Here....</label>
        <br>
        <textarea name="keyword_text" id="" cols="30" rows="10">         
        </textarea>
        <br>
        <input type="submit" value='perform Sentiment' name="" id="">      
    </form>

    {% for i in response  %}
    <p>{{i['keyword'] }}</p>

   {% endfor %}
    
</body>
</html>